:root {
  --primary-color: #134BF2;
  --secondary-color: #000000;
  --accent-color: #0C87F2;
  --highlight-color: #1BA0F2;
  --bg-color: #F2F2F2;
  --text-color: #000000;
  --card-bg: #ffffff;
  --dourado-nort: #FFD700;
  --shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  --transition: all 0.3s ease-in-out;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --cor-linha-table: #edf2f7;
  --cor-table-cabeçalho: #f9fafb;
  --cor-table-texto: #a0aec0;
  --cor-table-hover: #e4e5e6;
}

[data-theme="dark"] {
  --primary-color: #0F5FA6;
  --secondary-color: #0A8CBF;
  --accent-color: #04B2D9;
  --highlight-color: #05DBF2;
  --bg-color: #0D0D0D;
  --text-color: #FFFFFF;
  --card-bg: #;
  --dourado-nort: #FFD700;
  --dourado-escuro: #a88f02;
  --shadow: 0 4px 20px rgba(255, 255, 255, 0.05);
  --cor-linha-table: #FFD700;
  --cor-table-cabeçalho: #1c1c1c;
  --cor-table-texto: #1BA0F2;
  --cor-table-hover: #373838;
}

/* src/components/Navbar.css */
.navbar {
  width: 100%;
  height: 60px; /* Altura fixa para a navbar */
  background-color: #ffffff; /* Fundo branco para um look limpo */
  color: #2d3748; /* Texto escuro */
  padding: 0 20px; /* Espaçamento nas laterais */
  display: flex;
  align-items: center; /* Alinha tudo verticalmente ao centro */
  justify-content: space-between; /* Empurra os lados para as extremidades */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px; /* Altura do logo */
  width: auto;
  margin-right: 15px;
}

.navbar-welcome {
  font-size: 1rem;
  font-weight: 500;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-button {
  padding: 8px 16px;
  background-color: var(--dourado-nort); /* Dourado */
  color: white;
  border: none;
  font-size: 0.9rem;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: rgb(216, 155, 1)
}